
Week 1/ReadMe.md
.DS_Store
.DS_Store
/Week1
Week1/Week1Homework.rtf
Week1/Week1Homework.rtf
Week 1/Screenshot 2024-01-22 at 7.44.23 PM.png
Week 1/Week1Homework.rtf
Week 4/applab photo/mushrooms and garlic.jpg
Week 4/applab photo/pasta al fresco.jpg
Week 4/applab photo/pasta cooked.jpg
Week 4/applab photo/tomatoes and basil.jpg
Week1/ReadMe.md
Week1/ReadMe.md
Week1/ReadMe.md
Week1/Screenshot 2024-01-22 at 7.44.23 PM.png
Week1/Week1Homework.rtf
Week1/ReadMe.md
Week1/Screenshot 2024-01-22 at 7.44.23 PM.png
Week1/Week1Homework.rtf
.DS_Store
Week1/Screenshot 2024-01-22 at 7.44.23 PM.png
